html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  user-select: none;
}

#mainContent {
  height: 100vh;
  display: flex;
  align-items: center;
}

#lightBtnL,
#lightBtnR,
#doorBtnL,
#doorBtnR {
  background-color: blue;
  height: 12%;
  width: 3%;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  background: transparent;
}
#lightBtnL {
  left: 1.7%;
  top: 57%;
}
#lightBtnR {
  right: 2.7%;
  top: 57%;
}
#doorBtnL {
  left: 1.7%;
  top: 45%;
}
#doorBtnR {
  right: 2.7%;
  top: 45%;
}

#camera {
  width: 33%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 33%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}

#camImg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;
}

#mapContainer{
  width: 28%;
  height: 35%;
  position: absolute;
  margin-top: -37vh;
  margin-left: 70vw;
  display: none;
}

#map{
  height: 100%;
  width: 100%;
}

#officeImg {
  width: 100vw;
  margin: auto;
}

#invBtn1, #invBtn2, #invBtn3{
  position: absolute;
  height: 15%;
  background-color: aqua;
  width: 15%;
  cursor: pointer;
  background: transparent;  
}

#invBtn1{
  top: 11%;
  left: 53%;
  background-color: grey;
  opacity: 0.7;
}

#invBtn2{
  top: 35%;
  height: 11.5%;
  width: 14%;
  left: 4.5%;
}

#invBtn3{
  top: 36%;
  height: 12%;
  width: 14%;
  left: 79%;
}

#freddynose {
  cursor:crosshair;
width:2%;
height:2%;
position:absolute;
left:41%;
top:34%;

}


#energyindicator {
position:absolute;

}


/* 
#camButton{
    width: 40%;
    height: 60px;
    cursor: pointer;
    margin-top: 45%;
    margin-left: 30%;

    background-color: aqua;
    background-image: url(../img/btnNotRemovedBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}  */
