html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  user-select: none;
  font-family: font;
}
@font-face {
  font-family: font;
  src: url(../Fonts/OCR\ A\ Std\ Regular.ttf);
}

#mainContent {
  height: 100vh;
  display: flex;
  align-items: center;
}

#lightBtnL,
#lightBtnR,
#doorBtnL,
#doorBtnR {
  background-color: blue;
  height: 12%;
  width: 3%;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  background: transparent;
}
#lightBtnL {
  left: 1.7%;
  top: 57%;
}
#lightBtnR {
  right: 2.7%;
  top: 57%;
}
#doorBtnL {
  left: 1.7%;
  top: 45%;
}
#doorBtnR {
  right: 2.7%;
  top: 45%;
}

#camera {
  width: 33%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 33%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}
#turnaround {
  width: 10%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 10%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}
#myProgress {
  width: 30%;
  height: 6%;
  background-color: grey;
  position: absolute;
  display: none;
  left: 65%;
  top: 80%;
}
#myBar {
  width: 1%;
  height: 100%;
  background-color: white;
}
#puppetButton {
  width: 20%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  display: none;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 70%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}

#playagain {
  left: 40%;
  top: 40%;
  font-size: 50px;
  color: white;
  display: none;
}

#camImg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;
}

#mapContainer {
  width: 28%;
  height: 35%;
  position: absolute;
  margin-top: -37vh;
  margin-left: 70vw;
  display: none;
}

#map {
  height: 100%;
  width: 100%;
}

#officeImg {
  width: 100vw;
  margin: auto;
}
#behindImg {
  width: 100vw;
  margin: auto;
  display: none;
}

.invBtn {
  position: absolute;
  height: 15%;
  background-color: aqua;
  width: 15%;
  cursor: pointer;
  background: transparent;
}

.active {
  background-color: grey;
}

#firstBtn{
  background-color: grey;
}

#mapContainer > :nth-child(2) {
  top: 11%;
  left: 53%;
  opacity: 0.7;
}

#mapContainer > :nth-child(3) {
  top: 35%;
  height: 11.5%;
  width: 14%;
  left: 4.5%;
  opacity: 0.7;
}

#mapContainer > :nth-child(4) {
  top: 36%;
  height: 12%;
  width: 14%;
  left: 79%;
  opacity: 0.7;
}

#freddynose {
  cursor: crosshair;
  width: 2%;
  height: 2%;
  position: absolute;
  left: 41%;
  top: 34%;
}

#time {
  position: absolute;
  top: 10%;
  color: white;
  left: 90%;
  font-size: 50px;
}
#energyindicator {
  position: absolute;
  top: 80%;
  color: white;
  left: 10%;
  font-size: 50px;
}
#backgroundvideo,
#backgroundvideo2,
#backgroundvideo3,
#backgroundvideo4,
#honzajs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;
}
#backgroundvideo4 {
  top: 3%;
  display: block;
}

#start {
  position: absolute;
  color: white;
  left: 20%;
  top: 55%;
  font-size: 70px;
  width: 500px;
}
#start2 {
  position: absolute;
  color: white;
  left: 20%;
  top: 68%;
  font-size: 70px;
  width: 1000px;
  
 
}

/* 
#camButton{
    width: 40%;
    height: 60px;
    cursor: pointer;
    margin-top: 45%;
    margin-left: 30%;

    background-color: aqua;
    background-image: url(../img/btnNotRemovedBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}  */

#game {
  display: block;
}

#wantToPlay {
  display: none;
}

#text {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 10%;
  display: block;
}
#button {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 40%;
  left: 45%;
}
#button:hover {
  font-size: 90px;
  color: grey;
  cursor: pointer;
}

#indexBackgroundMusic {
  display: none;
}

#honzabg {
  background-image: url("../img/honza.png");
  position: absolute;
  width: 400px;
  height: 600px;
  left: 60%;
  display: block;
  top: 20%;
  background-repeat: no-repeat;
  opacity: 50%;
}

#tutorial {
  cursor: pointer;
  position: absolute;
  color: white;
  left: 20%;
  top: 80%;
  font-size: 70px;
  width: 1000px;
}

#start2:hover {
left:11%;
text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
rgb(0, 0, 0) 0.705713px 2.91581px 0px,
rgb(0, 0, 0) -0.287171px 2.98622px 0px,
rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
rgb(0, 0, 0) -2.94502px -0.571704px 0px,
rgb(0, 0, 0) -2.59586px -1.50383px 0px,
rgb(0, 0, 0) -1.96093px -2.27041px 0px,
rgb(0, 0, 0) -1.11013px -2.78704px 0px,
rgb(0, 0, 0) -0.137119px -2.99686px 0px,
rgb(0, 0, 0) 0.850987px -2.87677px 0px,
rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
rgb(0, 0, 0) 2.88051px -0.838247px 0px;

}

#tutorial:hover,
#start:hover,
#back:hover {
  color: #00ff19;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
    rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
    rgb(0, 0, 0) 0.705713px 2.91581px 0px,
    rgb(0, 0, 0) -0.287171px 2.98622px 0px,
    rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
    rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
    rgb(0, 0, 0) -2.94502px -0.571704px 0px,
    rgb(0, 0, 0) -2.59586px -1.50383px 0px,
    rgb(0, 0, 0) -1.96093px -2.27041px 0px,
    rgb(0, 0, 0) -1.11013px -2.78704px 0px,
    rgb(0, 0, 0) -0.137119px -2.99686px 0px,
    rgb(0, 0, 0) 0.850987px -2.87677px 0px,
    rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
    rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  color: white;
  left: 11%;
}

#back:hover {
  font-size: 130px;
  cursor: pointer;
  left: 3%;
}

#tutorial2 {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100vw;
  margin: auto;
  background-image: url(../img/tutorial1.png);
  background-position: center;
}
#back {
  position: absolute;
  color: white;
  left: 5%;
  top: 5%;
  font-size: 100px;
  width: 100px;
  display: none;
}

#noc {
  position: absolute;
  color: white;
  left: 20%;
  top: 10%;
  font-size: 80px;
  width: 1000px;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
    rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
    rgb(0, 0, 0) 0.705713px 2.91581px 0px,
    rgb(0, 0, 0) -0.287171px 2.98622px 0px,
    rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
    rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
    rgb(0, 0, 0) -2.94502px -0.571704px 0px,
    rgb(0, 0, 0) -2.59586px -1.50383px 0px,
    rgb(0, 0, 0) -1.96093px -2.27041px 0px,
    rgb(0, 0, 0) -1.11013px -2.78704px 0px,
    rgb(0, 0, 0) -0.137119px -2.99686px 0px,
    rgb(0, 0, 0) 0.850987px -2.87677px 0px,
    rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
    rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}
#puppetButtonAll {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

#mutecall {
  width: 20%;
  border-color: red;
  color: red;
  background-color: none;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 10%;
  left: 7%;
  right: 5%;
  font-size: 250%;
  text-align: center;
}
#helpWanted {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image:url(../img/frontimage.png) ;
  display:none;


}