html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  user-select: none;
}

#mainContent {
  height: 100vh;
  display: flex;
  align-items: center;
}

#lightBtnL,
#lightBtnR,
#doorBtnL,
#doorBtnR {
  background-color: blue;
  height: 12%;
  width: 3%;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  background: transparent;
}
#lightBtnL {
  left: 1.7%;
  top: 57%;
}
#lightBtnR {
  right: 2.7%;
  top: 57%;
}
#doorBtnL {
  left: 1.7%;
  top: 45%;
}
#doorBtnR {
  right: 2.7%;
  top: 45%;
}

#camera {
  width: 33%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 33%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}
#turnaround {
  width: 10%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 10%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}
#myProgress {
  width: 30%;
  height: 6%;
  background-color: grey;
  position: absolute;
  display:none;
  left:65%;
  top:80%;
}
#myBar {
  width: 1%;
  height: 100%;
  background-color: white;
}
#puppetButton {
  width: 20%;
  border-color: white;
  color: white;
  background-color: grey;
  border: 1px solid;
  height: 50px;
  display: none;
  position: absolute;
  cursor: default;
  top: 90%;
  left: 70%;
  right: 33%;
  font-size: 250%;
  text-align: center;
}

#playagain {
left:40%;
top:40%;
font-size:50px;
color:white;
display:none;
}

#camImg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: none;
}

#mapContainer{
  width: 28%;
  height: 35%;
  position: absolute;
  margin-top: -37vh;
  margin-left: 70vw;
  display: none;
}

#map{
  height: 100%;
  width: 100%;
}

#officeImg {
  width: 100vw;
  margin: auto;
}
#behindImg {
  width: 100vw;
  margin: auto;
  display: none;
}


.invBtn{
  position: absolute;
  height: 15%;
  background-color: aqua;
  width: 15%;
  cursor: pointer;
  background: transparent;  
}

.active {
  background-color: grey;
}

#mapContainer>:nth-child(2){
  top: 11%;
  left: 53%;
  opacity: 0.7;
}

#mapContainer>:nth-child(3){
  top: 35%;
  height: 11.5%;
  width: 14%;
  left: 4.5%;
  opacity: 0.7;
}

#mapContainer>:nth-child(4){
  top: 36%;
  height: 12%;
  width: 14%;
  left: 79%;
  opacity: 0.7;
}

#freddynose {
  cursor:crosshair;
width:2%;
height:2%;
position:absolute;
left:41%;
top:34%;
}

#time {
position:absolute;
  top:10%;
  color:white;
left:90%;
font-size:50px;
}
#energyindicator {
position:absolute;
  top:80%;
  color:white;
left:10%;
font-size:50px;
}
#backgroundvideo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
 display:none;
}
#backgroundvideo2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
 display:none;
}
#start {
position:absolute;
color:white;
left:20%;
top:40%;
font-size:70px;
}


/* 
#camButton{
    width: 40%;
    height: 60px;
    cursor: pointer;
    margin-top: 45%;
    margin-left: 30%;

    background-color: aqua;
    background-image: url(../img/btnNotRemovedBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}  */
